{% extends "base.html" %}
{% load static %}

{% block page_header%}
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <!-- Empty header for spacing -->
    </div>
</div>
<div class="container pt-5">
<section class="company-section">
    <div class="company-info">
      <h2 class="home-title">Handcrafted Gold, Ethically Recycled.<br> Adorning You with Timeless Beauty</h2>
      <p class="home-description">At Aurum Reborn, we are passionate about creating handcrafted gold jewellery that reflects your unique style. Our pieces are meticulously crafted with ethically sourced and recycled gold, ensuring sustainability and a commitment to the environment. Each piece tells a story, combining exquisite craftsmanship and a touch of luxury. Discover our collection and adorn yourself with timeless beauty.</p>
    </div>
    <div class="company-image">
      <img src="media/homepage-image.jpg" alt="Company Image" class="hover-image">
    </div>
  </section>
</div>

  <div class="container pt-5">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section">
            <h2 class="home-title">Discover Our Collections</h2>
            <p class="home-description">Browse through our exquisite selection of handmade gold jewellery.</p>
          <img src="media/our-collection.jpg" class="img-fluid collection-image hover-image" alt="collection Image"><br>
          <a href="{% url 'products' %}" class="main-button">Discover Our Collections</a>
        </div>
      </div>
    </div>
  </div>

<div class="container pt-5">
  <section class="company-section">
    <div class="company-info">
      <h2 class="home-title">Because Your Jewelry Should Reflect Your Values:.<br> Discover the Elegance of Ethical Gold.</h2>
      <p class="home-description">We believe that the jewelry you wear should not only be stunning but also align with your values. That's why we have curated a collection of exquisite pieces made from ethical gold, ensuring that every creation carries a story of sustainability and responsibility. Our commitment to ethical sourcing means that you can adorn yourself with elegance, knowing that your jewelry has been crafted with integrity and care. Experience the joy of wearing jewelry that not only complements your style but also reflects your commitment to a better world. Discover the timeless beauty of ethical gold and embrace a new standard of conscious luxury.</p>
    </div>
    <div class="company-image">
      <img src="media/homepage-image2.jpg" alt="Company Image" class="hover-image">
    </div>
  </section>
</div>

<div class="container">
  <div class="row">
    {% for creator in creators %}
      <div class="col-md-4">
        <img src="{{ creator.image }}" alt="{{ creator.name }}" class="img-fluid hover-image">
        <a href="#">{{ creator.name }}</a>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center mt-3">
      <a href="{% url 'creators' %}"class="main-button">Meet Our Creators</a>
    </div>
  </div>
</div>



<section class="company-section">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="company-info">
          <h2 class="home-title">Testimonials</h2>
          <p class="home-description">
            Hear what our customers have to say about their experience with our products and services. We take pride in providing exceptional quality and craftsmanship that exceeds expectations.
          </p>
          <a href="" class="discover-button">See Our Testimonials</a>
        </div>
      </div>
      <div class="company-image hover-image">
        <img src="media/testimonials-home.jpg" alt="Testimonials Image">
      </div>
    </div>
  </div>
</section>

<section class="newsletter-section">
<div id="mc_embed_shell">
<div id="mc_embed_signup">
    <form action="https://icloud.us21.list-manage.com/subscribe/post?u=12661aa4185b3a77d383f2256&amp;id=115e4a4ea5&amp;f_id=002fd5e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
        <div class="newsletter-info"></div>
        <img src="media/newsletter-image.jpg" alt="Newsletter Image" class="newsletter-image hover-image">
          <div id="mc_embed_signup_scroll"><h2 class="home-title">Subscribe to Our Newsletter</h2>
            <p class="home-description">Stay up to date with our latest collections, promotions, and news by subscribing to our newsletter.</p>
        </div>

            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /*  do not remove this or risk form bot signups */
        <input type="text" name="b_12661aa4185b3a77d383f2256_115e4a4ea5" tabindex="-1" value="" class="form-control subscription-input" placeholder="Enter your email address" >
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button custom-submit-button" value="Subscribe">
            </div>
        </div>
    </div>
</form>
</div>
</div>
</section>

{% endblock %}