{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mobile-home.css' %}">
{% endblock %}

{% block content %}

<div class="container pt-5">
    <img src="media/homepage-image.jpg" alt="Company Image" class="mobile-image">
    <h3 class="home-title">Handcrafted Gold, Ethically Recycled.<br> Adorning You with Timeless Beauty</h2>
    <p class="home-description">At Aurum Reborn, we are passionate about creating handcrafted gold jewellery that reflects your unique style. Our pieces are meticulously crafted with ethically sourced and recycled gold, ensuring sustainability and a commitment to the environment. Each piece tells a story, combining exquisite craftsmanship and a touch of luxury. Discover our collection and adorn yourself with timeless beauty.</p>
</div>

<div class="container pt-5">
    <div class="text-center">
        <img src="media/our-collection.jpg" class="mobile-image" alt="collection Image">
        <br>
        <a href="{% url 'products' %}" class="main-button">Discover Our Collections</a>
    </div>
</div>

<div class="container pt-5">
        <h2 class="home-title">Because Your Jewellery Should Reflect Your Values:.<br> Discover the Elegance of Ethical Gold.</h2>
        <p class="home-description">Discover stunning jewelry with a purpose. Our curated collection features exquisite pieces crafted from ethical gold, reflecting sustainability and responsibility. Adorn yourself with elegance, knowing each creation is made with integrity and care. Embrace conscious luxury and make a difference in the world.</p>
  </div>

<div class="container pt-5">
    <img src="media/creators/amara-thompson.jpg" class="mobile-image">
    <div class="text-center">
        <a href="{% url 'creators' %}" class="main-button">Meet Our Creators</a>
      </div>
</div>


<div class="container pt-5">
    <h2 class="home-title">Testimonials</h2>
    <p class="home-description"> Hear what our customers have to say about their experience with our products and services. We take pride in providing exceptional quality and craftsmanship that exceeds expectations. </p>
    <div class="text-center">
        <a href="{% url 'testimonials:testimonial_list' %}" class="main-button">See Our Testimonials</a>
    </div>
</div>


<div class="container text-center pt-5">
    <div id="mc_embed_shell">
        <div id="mc_embed_signup">
            <form action="https://icloud.us21.list-manage.com/subscribe/post?u=12661aa4185b3a77d383f2256&amp;id=115e4a4ea5&amp;f_id=002fd5e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <div class="newsletter-info"></div>
                <img src="media/newsletter-image.jpg" alt="Newsletter Image" class="mobile-image">
                <div id="mc_embed_signup_scroll">
                    <h2 class="home-title">Subscribe to Our Newsletter</h2>
                    <p class="home-description">Stay up to date with our latest collections, promotions, and news by subscribing to our newsletter.</p>
                </div>
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <!-- do not remove this or risk form bot signups -->
                    <input type="text" name="b_12661aa4185b3a77d383f2256_115e4a4ea5" tabindex="-1" value="" class="form-control subscription-input" placeholder="Enter your email address">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button custom-submit-button" value="Subscribe">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}