{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="return-policy">
    <h2 class="return-policy-title">Return Policy</h2>
    <p class="return-policy-text">
      At Aurum Reborn, we want you to be completely satisfied with your purchase. If you are not happy with your order,
      you can return it within 30 days of the purchase date for a full refund or exchange.
    </p>
    <p class="return-policy-text">
      To be eligible for a return, your item must be unused and in the same condition that you received it. It must also
      be in the original packaging. Please note that personalized or custom-made items are non-returnable, except in
      cases of manufacturing defects.
    </p>
    <p class="return-policy-text">
      To initiate a return, please contact our customer support team at support@aurumreborn.com with your order details
      and reason for return. Once your return is approved, you will receive instructions on how to proceed with the
      return process.
    </p>
    <p class="return-policy-text">
      Refunds will be issued to the original payment method used during the purchase, and the processing time may vary
      depending on your payment provider.
    </p>
    <p class="return-policy-text">
      Please note that shipping costs for returning the item are the responsibility of the customer, unless the return
      is due to a manufacturing defect or an error on our part.
    </p>
    <p class="return-policy-text">
      If you have any questions or concerns about our return policy, feel free to contact us at support@aurumreborn.com.
      Our dedicated customer support team will be happy to assist you.
    </p>
  </div>
</div>


{% endblock %}