{% extends "base.html" %}

{% block content %}

<div class="testimonials-head">
  <h1 class="testimonials-title">Testimonials</h2>
  <img src="../media/testimonials-image.jpg" class="testimonials-image"><br>
{% if user.is_authenticated %}
<a href="{% url 'testimonials:testimonial_create' %}" class="main-button">Add Testimonial</a>
{% endif %}

</div>
<div class="testimonial-container">
  {% for testimonial in testimonials %}
  <div class="testimonial-card">
    <div class="testimonial-content">
      <h3 class="testimonial-card-title">{{ testimonial.title }}</h3>
      <p>{{ testimonial.testimonial }}</p>
      <p>Rating: {{ testimonial.rating }}</p>
      {% if request.user == testimonial.user %}
      <a class="testimonials-links" href="{% url 'testimonials:testimonial_edit' testimonial.id %}">Edit</a>
      <a class="testimonials-links" href="{% url 'testimonials:testimonial_delete' testimonial.id %}">Delete</a>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <p>No testimonials yet.</p>
  {% endfor %}
</div>
{% endblock %}