{% extends "base.html" %}

{% block content %}

<div class="testimonials-head">
  <h1 class="testimonials-title">Testimonials</h1>
  <img src="../media/testimonials-image.jpg" class="testimonials-image" alt="Testimonials Image"><br>
  {% if user.is_authenticated %}
  <a href="{% url 'testimonials:testimonial_create' %}" class="main-button">Add Testimonial</a>
  {% endif %}
</div>

<div class="testimonial-container">
  {% for testimonial in testimonials %}
  <div class="testimonial-card">
    <div class="testimonial-content">
      <h3 class="testimonial-card-title">{{ testimonial.title }}</h3>
      <p class="testimonial-text">{{ testimonial.testimonial }}</p>
      <p class="testimonial-rating">Rating: {{ testimonial.rating }}</p>
      {% if request.user == testimonial.user %}
      <div class="testimonial-links">
        <a class="edit-link" href="{% url 'testimonials:testimonial_edit' testimonial.id %}">Edit</a>
        <a class="delete-link" href="{% url 'testimonials:testimonial_delete' testimonial.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <p>No testimonials yet.</p>
  {% endfor %}
</div>
{% endblock %}