{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="testimonials-head">
    <h1 class="mb-4 testimonials-title">Edit Testimonial</h1>
  </div>
  <form method="POST" class="testimonial-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="form-control" value="{{ testimonial.title }}" required>
    </div>
    <div class="form-group">
      <label for="testimonial">Testimonial:</label>
      <textarea id="testimonial" name="testimonial" class="form-control" rows="4" required>{{ testimonial.testimonial }}</textarea>
    </div>
    <div class="form-group">
      <label for="rating">Rating (out of 5):</label>
      <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" value="{{ testimonial.rating }}" required>
    </div>
    <div class="text-center">
      <button type="submit" class="custom-submit-button space">Save Changes</button>
    </div>
  </form>
</div>

{% endblock %}

<script>
  // Restrict the rating field to accept values up to 5
  function restrictRatingInput() {
    const ratingInput = document.getElementById("rating");
    ratingInput.addEventListener("input", function() {
      if (this.value > 5) {
        this.value = 5;
      }
    });
  }

  window.onload = restrictRatingInput;
</script>