/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair:wght@500&display=swap');

/* Body and Header */

body {
    background-color: #FFFFF0;
    height: calc(100vh - 164px);
    color: black;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
}

header {
    background-color: #FFFFF0;
}

  
/* Logo and Mobile Logo */
.logo-font {
    color: #8B5A2B !important;
    font-family: 'Playfair', serif;
    font-size: 50px;
}

.mobile-logo {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
    font-size: 20px;
}

.mobile-image {
  max-width: 100%;
  height: auto;
}

/* Delivery Banner and Close Button */
.delivery-banner {
    font-family: 'Playfair', serif;
    background-color: #CDA3A3;
    color: #FFFFF0;
}

.close-btn {
    position: absolute;
    right: 10px;
    background-color: #CDA3A3;
    color: #FFFFF0;
    font-family: 'Playfair Display', serif;
    border: none;
    cursor: pointer;
    font-size: smaller;
}

/* Hidden Class */
.hidden {
    display: none;
}

/* Search Bar */
.searchbar {
    font-family: 'Playfair', serif;
}

/* Navigation Icons and Search Icon */

.nav-icons {
    color: #8B5A2B !important;
}

.fas.fa-search {
    color: #8B5A2B !important;
}

/* Navigation Text and Links */
.nav-text,
.navbar-light .navbar-nav .nav-link {
    color: #8B5A2B !important;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s;
}
 
.dropdown-menu a{
    color:#8B5A2B !important;
    font-family: 'Playfair Display', serif;
}

.dropdown-menu a.nav-link:hover,
.dropdown-menu a.nav-link:active,
.dropdown-menu a.nav-link:focus {
    color: #CDA3A3 !important;
}


/* Navbar Toggler */
.navbar-toggler {
    border: none !important;
    color: #8B5A2B !important;
}

/* Hover Styles */
.nav-link.nav-icons:active,
.nav-link.nav-icons:focus,
.nav-text.nav-link:hover {
    color: #CDA3A3 !important;
}

/* Company Section and Info */
.company-section {
    display: flex;
    align-items: center;
    margin: 50px 50px 50px;
}

.company-info {
    flex-basis: 60%;
    padding-right: 30px;
}

.home-title {
    font-size: 24px;
    color: #D4AF37;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    font-weight: bold;
}

.home-description {
    font-size: 16px;
    color: #8B5A2B;
    font-family: 'Raleway', sans-serif;
}

.company-image {
    flex-basis: 30%;
}

.company-image img {
    width: 120%;
}

.company-image img:hover {
    opacity: 0.9;
}

/* Toasts */
.toast {
    background-color: #FFFFF0;
    color: #8B5A2B;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: right;
}

.toast-header {
    position: relative;
    padding: 0.75rem 1.25rem;
    background-color: #FFFFF0;
    color: #8B5A2B;
}
  
.toast-header .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    line-height: 1;
    opacity: 0.8;
    color:#699C6B;
}

.toast-body {
    background-color: #FFFFF0;
    color: #8B5A2B;
}

/* Footer Styles */
.footer {
    background-color: #FFFFF0;
    padding: 30px 0;
    margin: 50px;
    border-top: 0.5px solid #8B5A2B;
    text-align: center;
    margin-top: auto;
}

.footer-title {
    font-family: 'Playfair', serif;
    color: #8B5A2B;
    font-weight: bolder;
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #8B5A2B;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #CDA3A3;
}

.footer-links {
    text-align: left;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.footer-links a {
    display: block;
    margin-bottom: 5px;
    color: #8B5A2B;
}

.footer-links a:hover {
    color: #CDA3A3;
}

.footer-logo {
    text-align: left;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 100px;
}

.copyright-text {
  font-size: 14px;
  text-align: center;
  color: #D4AF37;
}

/* Creator Section */
.creator-home-name {
    color:#699C6B;
    font-family: 'Playfair', sans-serif;
    text-align: center;

}
.creator-header {
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.creators-title {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.creator-image {
    max-width: 100%;
    height: auto;
    max-height: 55%;
    margin: 5em;
    margin-top: 7em;
}

.creators-name {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.text-secondary {
    color: #D4AF37 !important;
}

.creators-bio {
    font-family: 'Raleway', sans-serif;
    color: #8B5A2B;
}

.creators-website {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.creators-website a {
    color: #699C6B;
}

.creators-website a:hover {
    color: #CDA3A3;
}

.creators-buttons {
    margin-left: 2rem;
}

/* Testimonials Section */
.testimonials-head {
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.testimonials-title {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.testimonials-image {
    height: 400px;
}

.testimonials-image:hover {
    opacity: 0.9;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-card {
    background-color: #FFFFF0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 1px #8B5A2B;
    width: 45%;
    margin: 1rem;
}

.testimonial-card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #8B5A2B;
    margin-bottom: 1rem;
}

.testimonial-text {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.testimonial-rating {
    font-size: 1.1rem;
    color: #555;
    margin-top: 0.5rem;
}

.testimonial-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.edit-link,
.delete-link {
    font-size: 1rem;
    color: #8B5A2B;
    text-decoration: none;
}

.edit-link:hover,
.delete-link:hover {
    text-decoration: underline;
}

.testimonial-form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    margin-bottom: 30px;
    background-color: #fffff0; 
    color:#8B5A2B;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair', serif
}

/* Product Section */
.product-head {
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.products-title {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.product-names {
    color: #8B5A2B;
    font-family: 'Playfair', serif;
}

.product-details-name {
    color: #D4AF37;
    font-family: 'Playfair', serif;
}

.product-prices {
    color: #D4AF37;
    font-family: 'Raleway', sans-serif;
}

.product-description {
    color: #8B5A2B;
    font-family: 'Raleway', sans-serif;
}

.product-price {
    color: #D4AF37;
    font-family: 'Playfair', serif;
    font-size: 1.5em;
}

.product-karat {
    color: #D4AF37;
    font-family: 'Playfair', serif;
    font-size: 1.5em;
}

.created-by {
    color: #8B5A2B;
    font-family: 'Raleway', sans-serif;
}

.product-divider {
    border: none; /* Remove the default border */
    height: 1px; /* Set the height of the horizontal line */
    background-color: #CDA3A3; /* Set the background color of the line */
    margin: 20px 0; /* Add some margin around the line */
}

.product-link {
    transition: color 0.3s ease;
}

.product-link:hover {
    opacity: 0.5;
}

.product-form {
    margin: 0 auto; 
    padding: 20px; 
    margin-bottom: 30px;
    background-color: #fffff0; 
    color:#8B5A2B;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair', serif
}
.category-tag {
    color: #CDA3A3;
    font-family: 'Playfair', serif;
}

.sort-by {
    color: khaki;
    font-family: 'Playfair', serif;
}

.input-group {
    color: khaki;
    font-family: 'Lato', sans-serif
}

.increments {
    color:#8B5A2B;
    background-color: #FFFFF0;
    border:none;
}

/* Buttons */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    color: #8B5A2B;
}

.btt-link:hover {
    cursor: pointer;
    color: #699C6B;
}

.edit-button {
    font-family: 'Playfair', serif;
    color: #CDA3A3;
    margin: 3px;
}

.edit-button:hover {
    color: #699C6B;
}

.delete-button {
    font-family: 'Playfair', serif;
    color: #699C6B;
    margin: 3px;
}

.delete-button:hover {
    color: #CDA3A3;
}

.main-button {
  display: inline-block;
  background-color: #8B5A2B;
  color: #FFFFF0;
  font-size: 16px;
  font-family: 'Playfair', sans-serif;
  padding: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 5px;
}

.main-button:hover {
  background-color: #699C6B;
  color: #FFFFF0;
}

/* Styles for custom submit button */

.custom-submit-button {
  display: inline-block;
  background-color: #8B5A2B;
  color: #FFFFF0;
  font-size: 16px;
  font-family: 'Playfair', sans-serif;
  padding: 5px;
  text-decoration: none;
  transition: background-color, border 0.3s;
  margin: 5px;
  border-color: #8B5A2B;
}

.custom-submit-button:hover {
  background-color: #699C6B;
  border-color: #699C6B;
  color: #FFFFF0;
  text-underline-position: under;
}


/* Custom CSS for mobile navigation */
@media (max-width: 991spx) {

  body {
    overflow-x: hidden;
  }

  .delivery-banner {
    font-size: 18px;
  }

  .mobile-company-section {
    max-width: 100%;
  }

  .mobile-nav {
    background-color: #FFFFF0;
    display: flex;
    align-items: center;

}

  .mobile-image {
    max-width: 100%;
    margin-top: 10px;
  }

  .home-title {
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
  }

  .home-description {
    font-size: 15px;
    text-align: center;
  }

  .footer-logo {
    display: none;
  }

  .footer-links {
    text-align: center;
  }

  .product-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
  }

  .products-title {
    font-size: 40px;
    padding: 10px;
  }

  .creator-image {
    margin: 1em auto;
    max-height: 100%;
    margin-top: 3em;
  }

  .creator-header {
    margin-left: 0px;
  }

  .testimonials-head {
    margin-left: 0px;
  }

  .testimonials-image {
    height: auto;
    max-width: 100%;
  }

  .testimonial-card {
    width: 100%;
  }
}

  /* Slightly larger container on xl screens */
  @media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }

    .header-container {
      padding-top: 164px;
    }
}
