@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair:wght@500&display=swap');


body {
    background-color: #FFFFF0;
    height: calc(100vh - 164px);
    color: black;
}

header {
    background-color: #FFFFF0;
}

.logo-font {
    color: #8B5A2B !important;
    font-family: 'Playfair', serif;
    font-size: 50px;
    
}

.delivery-banner {
    font-family: 'Playfair', serif;
    background-color: #CDA3A3;
    color: #FFFFF0;
    padding-bottom: 2px;
}

.close-btn {
    position: absolute;
    right: 10px;
    background-color: #CDA3A3;
    color:#FFFFF0;
    font-family: 'Playfair Display', serif;
    border: none;
    cursor: pointer;
  }
  
.hidden {
    display: none;
}

.searchbar {
    font-family: 'Playfair', serif;
}

.nav-icons {
    color: #8B5A2B !important;

}
  
.nav-text {
    color: #8B5A2B !important;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s;
  }

.navbar-light .navbar-nav .nav-link {
    color: #8B5A2B !important;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s;
}

.company-section {
    display: flex;
    align-items: center;
    margin: 150px 20px 80px;
}
  
.company-info {
    flex-basis: 60%;
    padding-right: 30px;
}
  
.home-title {
    font-size: 24px;
    color: #D4AF37;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.home-description {
    font-size: 16px;
    color: #8B5A2B;
    font-family: 'Raleway', sans-serif;
  }
  
.company-image {
    flex-basis: 30%;
}
  
.company-image img {
    width: 120%;
  }

.company-image img:hover {
    opacity: 0.9;
}

.nav-text.nav-link:hover {
    color:#699C6B !important; /* Hover color */
  }

.collection-image {
    max-width: 70%;
}

.hover-image:hover {
    opacity: 0.9;
}

.main-button {
    display: inline-block;
    background-color: #8B5A2B;
    color: #FFFFF0;
    font-size: 16px;
    font-family:'Josefin Sans', sans-serif;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 5px;
}
  
.main-button:hover {
    background-color: #699C6B;
    color: #FFFFF0;
}

.creator-link {
    display: block;
    color: #8B5A2B;
    font-family: 'Playfair', serif;
    font-size: 18px;
    margin-top: 10px;
    transition: color 0.3s;
    text-decoration: none;
    text-align: center;
}

.creator-link:hover {
    color: #699C6B;
}

.newsletter-section {
    text-align: center;
}

.custom-submit-button {
    display: inline-block;
    background-color: #8B5A2B;
    color: #FFFFF0;
    font-size: 16px;
    font-family:'Josefin Sans', sans-serif;
    padding: 5px;
    text-decoration: none;
    transition: background-color, border 0.3s;
    margin: 5px;
    border-color: #8B5A2B;
}

.custom-submit-button:hover {
    background-color: #699C6B;
    border-color:#699C6B;
    color:#FFFFF0;
    text-underline-position: under;
}

.subscription-input {
    text-align: center;
    font-family: 'Playfair', serif;
}

.newsletter-image {
    width: 70%;
    margin: 10px;
}

.footer {
    background-color: #FFFFF0;
    padding: 30px 0;
    margin: 40px;
    border-top: 0.5px solid #8B5A2B;
    text-align: center;
  }

.footer-title {
    font-family: 'Playfair', serif;
    color:#8B5A2B;
    font-weight: bolder;
}
  
  .social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #8B5A2B;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #CDA3A3;
  }
  
  .footer-links {
    text-align: left;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    display: block;
    margin-bottom: 5px;
    color:#8B5A2B;
  }
  
  .footer-links a:hover{
    color:#CDA3A3
  }

  .footer-logo {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .copyright-text {
    font-size: 14px;
    text-align: center;
    color:#D4AF37
  }
  
  .creator-header {
    margin-top: 200px;
  }

.creators-title {

}

.creator-image {
    max-width: 100%;
    height: auto;
    max-height: 60%;
    margin: 5em;
}
/*    -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
}

.form-label {
  font-family: 'Playfair Display', serif;
  font-size: large;
  color: #8B5A2B
}
