@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair:wght@500&display=swap');


body {
    background-color: #FFFFF0;
    height: calc(100vh - 164px);
    color: black;
}

header {
    background-color: #FFFFF0;
}

.logo-font {
    color: #8B5A2B !important;
    font-family: 'Playfair', serif;
    font-size: 50px;
    
}

.delivery-banner {
    font-family: 'Playfair', serif;
    background-color: #CDA3A3;
    color: #FFFFF0;
}

.searchbar {
    font-family: 'Playfair', serif;
}

.nav-icons {
    color: #8B5A2B !important;

}
  
.nav-text {
    color: #8B5A2B !important;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s;
  }

.navbar-light .navbar-nav .nav-link {
    color: #8B5A2B !important;
    font-family: 'Playfair Display', serif;
    transition: color 0.3s;
}

.company-section {
    display: flex;
    align-items: center;
    margin: 150px 20px 80px;
}
  
.company-info {
    flex-basis: 60%;
    padding-right: 30px;
}
  
.home-title {
    font-size: 24px;
    color: #D4AF37;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.home-description {
    font-size: 16px;
    color: #8B5A2B;
    font-family: 'Raleway', sans-serif;
  }
  
.company-image {
    flex-basis: 30%;
}
  
.company-image img {
    width: 120%;
  }

.company-image img:hover {
    opacity: 0.9;
}

.nav-text.nav-link:hover {
    color:#699C6B !important; /* Hover color */
  }

.collection-image {
    max-width: 70%;
}

.collection-image:hover {
    opacity: 0.9;
}

.discover-button {
    display: inline-block;
    background-color: #8B5A2B;
    color: #FFFFF0;
    font-size: 16px;
    font-family:'Josefin Sans', sans-serif;
    padding: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 5px;
}
  
.discover-button:hover {
    background-color: #699C6B;
    color: #FFFFF0;
}

.creator-link {
    display: block;
    color: #8B5A2B;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-top: 10px;
    transition: color 0.3s;
    text-decoration: none;
    text-align: center;
}

.creator-link:hover {
    color: #699C6B;
}

.testimonials-image {
    height: 150px;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
}
