<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class=" font-weight-bold nav-link nav-text mr-5" href="#" id="collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Collections
            </a>
            <div class="dropdown-menu border-0 nav-text" aria-labelledby="collections-link">
                <a href="" class="dropdown-item nav-text">All Items</a>
                <a href="" class="dropdown-item nav-text">Earrings</a>
                <a href="" class="dropdown-item nav-text">Necklaces</a>
                <a href="" class="dropdown-item nav-text">Bracelets</a>
                <a href="" class="dropdown-item nav-text">Rings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link nav-text mr-5" href="#" id="creators-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Creators
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="creators-link">
                <a href="" class="dropdown-item nav-text">All Creators</a>
                <a href="" class="dropdown-item nav-text">Creator 1</a>
                <a href="" class="dropdown-item nav-text">Creator 2</a>
                <a href="" class="dropdown-item nav-text">Creator 3</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link nav-text mr-5" href="#" id="testimonials-link" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>