<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link nav-text mr-5" href="{% url 'home' %}" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class=" font-weight-bold nav-link nav-text mr-5" href="" id="collections-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Collections
            </a>
            <div class="dropdown-menu border-0 nav-text" aria-labelledby="collections-link">
                <a href="{% url 'products' %}" class="dropdown-item nav-text">All Items</a>
                <a href="{% url 'products' %}?category=Earrings" class="dropdown-item nav-text">Earrings</a>
                <a href="{% url 'products' %}?category=Necklaces" class="dropdown-item nav-text">Necklaces</a>
                <a href="{% url 'products' %}?category=Bracelets" class="dropdown-item nav-text">Bracelets</a>
                <a href="{% url 'products' %}?category=Rings" class="dropdown-item nav-text">Rings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link nav-text mr-5" href="{% url 'creators' %}" id="creators-link" aria-haspopup="true" aria-expanded="false">
                Creators
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link nav-text mr-5" href="{% url 'testimonials:testimonial_list' %}" id="testimonials-link" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>
    </ul>
</div>